.layout {
  display: flex;
  height: 82vh;
}

.dashboard {
  min-width: 23.5rem;
  background-color: #402E7A;
  padding: 1rem;
  gap: 1rem;
  margin-right: 2rem;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0rem 2rem;
  transition: transform 0.3s ease-in-out;
  position: relative;
   /* Ensure the sidebar is on top */
}

.dashboard ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.dashboard h2 {
  color: white;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

.dashboard a {
  text-decoration: none;
  color: black;
  background-color: #ebf4f6;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  transition: 0.2s ease-in;
  width: 100%;
  display: block;
}

.dashboard a:hover {
  background-color: #cbd5f7;
}

.dashboard a.active {
  background-color: #4B70F5;
  color: white;
}

.logoutbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  background: transparent;
  color: #E7D4B5;
  font-size: 1.5rem;
  font-weight: 600;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.hamburger {
  display: none;
  position: fixed; /* Change from absolute to fixed */
  top: 3rem; /* Adjust the positioning as per your design */
  left: 1rem;
  background: transparent;
  border: none;
  color: #402E7A;
  font-size: 2rem;
  z-index: 2000; /* Ensure the hamburger icon is on top */
}


.closebtn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .dashboard {
    min-width: 20rem;
    margin-right: 2rem;
  }

  .dashboard a {
    font-size: 1rem;
  }

  .dashboard h2 {
    font-size: 1.5rem;
  }

  .logoutbtn {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
  }

  .dashboard {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .dashboard.open {
    transform: translateX(0);
  }

  .dashboard ul {
    flex-direction: column;
    gap: 0.7rem;
  }

  .dashboard a {
    width: 100%;
  }

  .logoutbtn {
    font-size: 1.2rem;
    align-self: center;
  }

  .hamburger {
    display: block;
  }

  .dashboard.open .closebtn {
    display: block;
  }
}

