.DashBoad {
    width: 100%;
    height: 20px;
    padding: 2rem;
    padding-top: 1rem;
  }
  .DashBoad h1 {
    font-size: 2.7rem;
  }
  .DashBoad label {
    font-size: 1.2rem;
  }




  .DashBoad .details-container {
    text-align: left;
    color: gray;
    padding: 20px;
}

.DashBoad .details-table {
    width: 100%;
    border-collapse: collapse;
}

.DashBoad .details-table th,
.DashBoad .details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.DashBoad .details-table th {
    background-color: #f2f2f2;
}

.Detail_buttom{
  margin-right: 20px;
}
  


 