.UserAllowance {
  width: 100%;
  height: 20px;
  padding: 2rem;
  padding-top: 1rem;
}
.UserAllowance h1 {
  font-size: 2.7rem;
}
.UserAllowance label {
  font-size: 1.2rem;
}
.UserAllowance .details-container {
  text-align: left;
  color: gray;
  padding: 20px;
}
.UserAllowance .details-table {
  width: 100%;
  border-collapse: collapse;
}
.UserAllowance .details-table th,
.UserAllowance .details-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.UserAllowance .details-table th {
  background-color: #f2f2f2;
}
.Detail_buttom {
  margin-right: 20px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .UserAllowance {
      padding: 1rem;
      padding-top: 0.5rem;
  }
  .UserAllowance h1 {
      font-size: 2rem;
  }
  .UserAllowance label {
      font-size: 1rem;
  }
  .UserAllowance .details-container {
      padding: 10px;
  }
  .UserAllowance .details-table th,
  .UserAllowance .details-table td {
      padding: 4px;
  }
  .Detail_buttom {
      margin-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .UserAllowance h1 {
      font-size: 1.5rem;
  }
  .UserAllowance label {
      font-size: 0.8rem;
  }
  .UserAllowance .details-container {
      padding: 5px;
  }
  .UserAllowance .details-table th,
  .UserAllowance .details-table td {
      padding: 2px;
  }
  .Detail_buttom {
      margin-right: 5px;
  }
}
