/* ---------CSS for Home Page------------ */

.hompage_header {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #EEEDEB;
  border: none;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header stays on top */
}

.Railway_logo,
.Emblem_logo {
  height: 6rem;
  width: auto;
  margin: 0 1rem;
}

.homepage_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.homepage_heading h1 {
  color: #402E7A;
}

.homePage p {
  font-size: 1.1rem;
}

.homepage_heading p {
  font-size: 1.7rem;
  font-style: italic;
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hompage_header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Railway_logo,
  .Emblem_logo {
    height: 2rem;
    margin: 0.5rem 0;
  }

  .homepage_heading h1 {
    font-size: 1.6rem;
  }

  .homepage_heading p {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .Railway_logo,
  .Emblem_logo {
    display: none; /* Hide logos on phone screens */
  }

  .homepage_heading h1 {
    font-size: 1.5rem;
  }

  .homepage_heading p {
    font-size: 1rem;
  }
}
