


/* ---------CSS for Home Page------------ */

/* .homePage {
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  color: #1d2b53;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */
.hompage_header {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: #EEEDEB ;
  border: none;
}
.Railway_logo,
.Emblem_logo {
  height: 6rem;
  width: auto;
  margin-left: 150px;
  margin-right: 150px;
}
.homepage_heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: auto;
  height: auto;
}
.homepage_heading h1 {
  /* font-size: 3rem; */
  color: #402E7A;
}

.homePage p {
  font-size: 1.1rem;
}
.homepage_heading p {
  font-size: 1.7rem;
  font-style: italic;
  color: red;
}
